.wheel-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px 19px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color: #646cff;
    color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 30px;
  }

.wheel-button:disabled {
    cursor: not-allowed;
    background-color: #cccccc !important;
    color: #666666 !important;
    opacity: 0.6;
    filter: grayscale(1); 
}

.wheel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    width: 800px;
    height: 800px;
    border-radius: 20px;
    border: #646cff solid 1.5px;
}

.wheel-header {
    margin-top: -40px;
    margin-bottom: 30px;
}